
<div id="main" fxLayout="row" fxLayoutAlign="center center">
  <div class="content" fxLayout="row">
    <div class="main-image" fxFlex="45%"></div>
    <div fxFlex="55%" fxLayout="column" fxLayoutAlign="space-between  stretch">
      <div class="navigation" fxLayout="row" fxLayoutAlign="space-between center">
        <a routerLink="sign-up" routerLinkActive="active-route">Sign Up</a>
        <a routerLink="sign-in" routerLinkActive="active-route">Sign In</a>
      </div>
      <router-outlet></router-outlet>
      <div class="ikonki" fxLayout="row" fxLayoutAlign="space-around center">
        <a *ngFor="let icon of icons" href="#" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3px">
            <div class="icon" fxLayoutAlign="center center"><i class="fa {{icon.faClass}}"></i></div>
            <div>{{icon.text}}</div>
        </a>
      </div>
    </div>
  </div>
</div>
